body {
	font-family: 'Roboto Condensed', sans-serif !important;
	background: transparent url("../img/index_background.png") no-repeat fixed 0px 0px / cover;
}

#galeria .col-lg-4 {
	margin: 0 !important;
	padding: 25px;
}

#galeria img {
	width: 100%;
	height: 320px;
}

#galeria img:hover {
	border: 5px solid #f7f7f7;
}